<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <sessionState timeout="120" />
    <pages>
      <controls>
        <add tagPrefix="CKEditor" assembly="CKEditor.NET" namespace="CKEditor.NET"/>
      </controls>
    </pages>
    <httpRuntime requestValidationMode="2.0" />
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="connection" connectionString="Data Source=DESKTOP-O7PMJMA;Initial Catalog=myweb;MultipleActiveResultSets=True;Persist Security Info=True;User ID=sa;Password=01475963" />
    <add name="mywebConnectionString" connectionString="Data Source=DESKTOP-O7PMJMA;Initial Catalog=myweb;User ID=sa;Password=01475963"
      providerName="System.Data.SqlClient" />
    <add name="mywebConnectionString2" connectionString="Data Source=DESKTOP-O7PMJMA;Initial Catalog=myweb;Persist Security Info=True;User ID=sa;Password=01475963"
      providerName="System.Data.SqlClient" />
    <add name="baglanti" connectionString="Data Source=DESKTOP-O7PMJMA;Initial Catalog=myweb;User ID=sa;Password=01475963"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>